<fieldset 
    class="flex flex-col items-center fieldset bg-base-200 border-base-300 rounded-box w-sm border p-4"
    x-data="newPartner('male')" 
    id="male-partner-section"
>
    <legend class="fieldset-legend">Male partner</legend>

    {{ form.male_existing_choices.label(class='fieldset-label') }}
    
    <select 
        name="{{ form.male_existing_choices.name }}" 
        id="{{ form.male_existing_choices.id }}"
        class="select select-md"
    >
        {% for group, options in form.male_existing_choices.choices.items() %}
            {% if group == 'default' %}
                <option value="">Please select an option</option>        
            {% else %}
                <optgroup label="{{ group }}">
                    {% for value, label in options %}
                        <option value="{{ value }}">{{ label }}</option>        
                    {% endfor %}
                </optgroup>            
            {% endif %}
        {% endfor %}
    </select>

    <span class="divider">or</span>

    <button type="button" x-show="!rendered" @click="handleDisplay" class="btn btn-outline">Add a new partner</button>
</fieldset>

<template id="new-male-partner">
    <fieldset 
        class="fieldset bg-gray-200 border-base-300 rounded-box w-xs border p-4" 
        style="border=1px solid"
    >
        <legend class="fieldset-legend">New male partner</legend>

        <label 
            for="{{ form.new_male_partner.firstname.id }}"
            class="fieldset-label"
        >
            {{ form.new_male_partner.firstname.label }}
        </label>
        <input 
            name="{{ form.new_male_partner.firstname.name }}" 
            type="text" 
            class="input"
            id="{{ form.new_male_partner.firstname.id }}"
        >

        <label 
            for="{{ form.new_male_partner.birth_date.id }}"
            class="fieldset-label"
        >
            {{ form.new_male_partner.birth_date.label }}
        </label>
        <input 
            name="{{ form.new_male_partner.birth_date.name }}" 
            type="date" 
            class="input"
            id="{{ form.new_male_partner.birth_date.id }}"
        >

        <button type="button" @click="handleDisplay" class="btn btn-primary">cancel</button>
    </fieldset>
</template>