{% extends "base.html" %}

{% load static %}

{% block title %}Genealogical Tree{% endblock %}

{% block additional_header %}
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <script type="module" src= "{% static 'script/main.js' %}" defer></script>
{% endblock %}

{% block body %}
    <div class="main">
        <div class="canvas-section">
            <div class="gen-tree-btn">
                <button 
                type="button"
                
                >add a new family</button>
            </div>
            <canvas width="800" height="800"></canvas>
            <div class="controls">
                <button id="b-plus">plus</button>
                <button id="b-minus">minus</button>
            </div> 
        </div>
    </div>
{% endblock %}