{% extends "base.html" %}

{% load static %}

{% block title %}Genealogical Tree{% endblock %}

{% block additional_headers %}
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <script type="module" src= "{% static 'script/canvas.js' %}" defer></script>
{% endblock %}

{% block body %}
    <div class="main">
        <div x-data="addBtn" class="canvas-section">
            {% comment %} <button
                x-show="visible"
                @click="toggle"
                id="add-btn"
                type="button"
                hx-get="{% url "new-family" %}"
                hx-swap="beforeend"
                hx-target=".main"
            >add</button>{% endcomment %}
            <a href="{% url "new-family" %}">add</a>
            <canvas width="800" height="800"></canvas>
            <div class="controls">
                <button id="b-plus">plus</button>
                <button id="b-minus">minus</button>
            </div> 
        </div>
    </div>

{% endblock %}