{% extends "base.html" %}

{% block title %}Login page{% endblock %}

{% block body%}
    <div id="main" class="h-svh flex flex-col items-center justify-center gap-y-8">

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %} 
        {% endwith %}

        {% if form.errors %}
            <ul class="errors">
                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                        <li>{{ form[field_name].label }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>        
        {% endif %}
        
        <h1 class="h1">You are in the login page</h1>

        <form class="flex flex-col items-center justify-center gap-y-8" action="{{ url_for('auth.login') }}" method="post">
            {{ form.csrf_token }}
            <fieldset class="fieldset flex flex-col items-center justify-center bg-neutral-200 border-base-300 rounded-box w-sm border p-4">
                <legend class="fieldset-legend">Login</legend>

                {% if form.email.errors %}
                    <ul class="errors">
                    {% for error in form.email.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}

                {{ form.email.label(class="fieldset-label")}}
                {{ form.email(class="input") }}

                {% if form.password.errors %}
                    <ul class="errors">
                    {% for error in form.password.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}

                {{ form.password.label(class="fieldset-label")}}
                {{ form.password(class="input") }}
            </fieldset>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
