{% extends "base.html" %}

{% block title %}Login page{% endblock %}

{% block body%}
    <div id="main" class="h-svh">
        You are in the log-in page.

        <form action="{{ url_for('auth.login') }}" method="post">
        <fieldset class="fieldset">
            <legend class="fieldset-legend">Login</legend>

            {{ form.email.label(class="fieldset-label")}}
            {{ form.email(class="input") }}

            {{ form.password.label(class="fieldset-label")}}
            {{ form.password(class="input") }}
        </fieldset>
        
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
