html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.canvas-section { 
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.restricted-cancas {
    width: 60%;
}

canvas {
    border: 1px solid black;
}

.form {
    width: 40%;
    border-left: 1px solid black;
}