{% extends "base.html" %}

{% block body %}
<div id="form-container" class="h-screen overflow-y-scroll flex flex-col items-center gap-y-8 py-8">
    <button
        type="button"
        @click="$store.form.close($event)"
        class="btn btn-soft btn-error"
    >Cancel</button>

    {% if form.non_field_errors %}
        <ul class="errorlist">
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form 
        hx-post=""
        hx-target="#form-container"
        hx-swap="outerHTML"
        class="flex flex-col items-center gap-y-12"
        >
        {% csrf_token %}

        <fieldset class="fieldset flex flex-col items-center bg-base-200 border-base-300 rounded-box w-sm border p-4">
            <legend class="fieldset-legend ">Family name</legend>
            
            <label class="label" for="id_family_name">Name</label>
            {{ form.family_name|attr:"class:input"|attr:"placeholder:Enter the name here" }}
        </fieldset>

        {% include "form_fields/male_partner.html" %}

        {% include "form_fields/female_partner.html" %}

        {% include "form_fields/children.html" %}
        
        <button 
            type="submit"
            class="btn btn-outline btn-success"
        >Create family</button>
    </form>
</div>
{% endblock  %}